@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype');

}

@font-face {
    font-family: 'Montserrat-italic';
    src: url('./Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}
